# PostgreSQL. Versions 8.2 and up are supported.
default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: Linked-parse_development
test:
  <<: *default
  database: Linked-parse_test
production:
  <<: *default
  database: Linked-parse_production
  password: <%= ENV['TESTTASK_DATABASE_PASSWORD'] %>
